<html>
	<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/calipho-sib/feature-viewer/v1.0.0/dist/feature-viewer.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/index.css">
	<script src="https://cdn.rawgit.com/calipho-sib/feature-viewer/v1.0.0/dist/feature-viewer.bundle.js"></script>

	<body>
		<div class="splitl left">
		    <div class="sidenav">
		      <h2>About</h2>
		      <a href= "/index">
			      <button class = "about-btn">Back
			      </button>
			  </a>
		    </div>
		</div>

		<div class="splitr right-abt">

			<div class = "first-abt">
				<div class = "first-abt-info">
					<H2>Identifying the Problem</H2>
					<p align="justify">Each year, scientists at pharmeceutical companies race to develop vaccines to address the ever-evolving influenza A. While these vaccines are effective most of the time, there are some years where influenza A is one step ahead of the vaccine, resulting in increased influenza-related fatalities. This occurs because the vaccine is a retroactive treatment; Scientists develop vaccines based on observations made from previous years.</p>

					<p align="justify">Another issue that pharmeceutical companies struggle with annualy is predicting the quantity of vaccines they should produce. Since the government requires that vaccine distributors report their vaccine quota before they begin producing, pharmeceutical companies have to predict how much demand there will be for the vaccine. </p>
				</div>
				<img src = "https://cdn.dribbble.com/users/548267/screenshots/5674094/scientist.jpg" width = "400">
			</div>

			<div class = "second-abt">
				<img src = "https://cdn.dribbble.com/users/265523/screenshots/2537229/influzena-flu.png" height = "400" width = "500">
				<div class = "second-abt-info">
					<H2>Solution</H2>
					<p align="justify">Using genomic data on the hundreds of influenza strains from the past 30 years, our algorithms tackle the problem of vaccine production in a two-pronged manner. First, our statistical analysis of particular strains over time enable us to identify common sites of mutation in a particular influenza strain from year to year. This tool serves to help researchers visualize the changes that are occurring in the DNA sequences of these viral vectors. By understanding the mutations that change the virus the most, they can develop more precise viral cocktails for vaccines based on previous vacines.</p>

					<p align="justify">The second tool that we offer is a predictive analysis machine learning model that uses logistic regression modeling to help government officials and vaccine developers predict the transmissivity and epidemiological characteristics in a particular viral strain in the next few years. By utilizing historical data and information from previous influenza pandemics, this tool is able to predict mutations that could significantly alter the disease characteristics of influenza in a given year. In particular, the tool leverages large data sets of strain genomic data from over 37 country samples leading up to the major 2009 global flu epidemic.</p>
				</div>
			</div>
			<div class = "third-abt">
				<div class = "third-abt-info">
					<H2>Business</H2>
					<p align="justify">Model 1: Business to Business. One model we potentially see ourselves working under is by engaging in a technology licensing deal with vaccine producers and pharmaceutical companies. By helping to optimize their production lines and improve profit in the short and long term, our technology would enable companies with the tools to grow.</p>

					<p align="justify">Model 2: Business to Government. Another potential business model we are exploring is based on engaging in a contract with the United States government or government entities. By helping to avert major public health crises and preparing adequately for future outbreaks, our technology could help groups like the CDC and NIH predict the severity of future crises.</p>
				</div>
				<img src = "https://cdn.dribbble.com/users/1009802/screenshots/3263395/051.png" height= "400" width = "600">
			</div>  	
		</div>

</html>

