<html>
	<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/calipho-sib/feature-viewer/v1.0.0/dist/feature-viewer.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/index.css">
	<script src="https://cdn.rawgit.com/calipho-sib/feature-viewer/v1.0.0/dist/feature-viewer.bundle.js"></script>

	<body>
		<div class="splitl left">
		    <div class="sidenav">
		      <h2>Influenza A Strains</h2>
		      <button class="dropdown-btn">Strain 1
		        <i class="fa fa-caret-down"></i>
		      </button>
		      <div class="dropdown-container">
		        <a href="H3N2_1995-2009">Substrain 1</a>
		        <a href="#">Substrain 2</a>
		        <a href="#">Substrain 3</a>
		      </div>

		      <button class="dropdown-btn">Strain 2
		        <i class="fa fa-caret-down"></i>
		      </button>
		      <div class="dropdown-container">
		        <a href="#">Link 1</a>
		        <a href="#">Link 2</a>
		        <a href="#">Link 3</a>
		      </div>

		      <button class="dropdown-btn">Strain 3
		        <i class="fa fa-caret-down"></i>
		      </button>
		      <div class="dropdown-container">
		        <a href="#">Link 1</a>
		        <a href="#">Link 2</a>
		        <a href="#">Link 3</a>
		      </div>
		    </div>
		</div>

		<div class="splitr right">
		  	<div id="fvH"></div>
		  	<div id="fvN"></div>
		  	<div id="fv2"></div>
			<div class = "whiteBG">
		  		<div id="fv1" class = "graph"></div>
		  	</div>
		  	<div class = "info">
			  	<div id = "news" class = "card">
			  		<div class = "colorbar"></div>
			    <h2 class = "card-title">Past Outbreak News</h2>
			    	<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor r</p>
			    	<h5 class = "read-more">Read More</h5>
			    </div>
			    <div class = "container">
				    <div class = "card similarity">
				    	<div class = "colorbar"></div>
				    <h2 class = "card-title">Strain Similarity</h2>
				    	<p>This strain is x% similar to the most recent strain</p>
				    </div>
				    <div class = "card severity">
				    	<div class = "colorbar"></div>
				    <h2 class = "card-title">Severity</h2>
					</div>
				</div>
			</div>
		  </div>
		</div>
		
		<script>

			var pi = [];
    		<% for (var i = 0; i < probabilityIntervals.length; i++) { %>
    			pi.push([<%= probabilityIntervals[i] %>])
    		<%}%>
    		console.log(pi)

			var sequence = "<%= sequence %>";
			console.log(sequence)
			var ddata = [];

			for (var i=1;i<100;i++) {
			    var count = Math.floor((Math.random() * 20) + 1);
		        ddata.push({
		            x: i*2,
		            y:count
		        })
			}

<<<<<<< HEAD

			var mutationIntervalsH =  [];
=======
			var probabilityIntervals = pi;
			
			mutationIntervalsH =  [];
>>>>>>> 607ce027c2c9f97b64d7677d125b063e83e71255

			for (var i = 0; i < probabilityIntervals.length; i++){
				mutationIntervalsH.push({
			        x: probabilityIntervals[i][0],
			        y: probabilityIntervals[i][1]
			    })
			    console.log(mutationIntervalsH);
			}

			 var mutationIntervalsN =  [];

			for (var i = 0; i < probabilityIntervals.length; i++){
				mutationIntervalsN.push({
			        x: probabilityIntervals[i][0],
			        y: probabilityIntervals[i][1]
			    })
			}

			var ftH = new FeatureViewer(sequence,
               '#fvH',
                {
                    showAxis: true,
                    showSequence: true,
                    brushActive: true, //zoom
                    toolbar:true, //current zoom & mouse position
                    bubbleHelp:true, 
                    zoomMax:50 //define the maximum range of the zoom
                });

			ftH.addFeature({
			    data: mutationIntervalsH,
				name: "Hemagglutinin",
				className: "test1",
				color: "#005572",
				type: "rect",
   				filter: "type1"
			});


			var ftN = new FeatureViewer(sequence,
               '#fvN',
                {
                    showAxis: true,
                    showSequence: true,
                    brushActive: true, //zoom
                    toolbar:true, //current zoom & mouse position
                    bubbleHelp:true, 
                    zoomMax:50 //define the maximum range of the zoom
                });

			ftN.addFeature({
			    data: mutationIntervalsN,
				name: "Neuraminidase",
				className: "test1",
				color: "#005572",
				type: "rect",
				filter: "type1"
			});
                            
			//Instead of a sequence, you can also initialize the feature viewer with a length (integer) :
			//var ft = new FeatureViewer(213,'#fv1');

			// data should be dependent on the particular strain they send and should pull from db accordingly 
			// Combination of H and N, 2:1 ratio in terms of weighting

			var b = <%= viewpd %>;

			if(b){
				var pft = new FeatureViewer('MALWMRLLPLLALLALWGPGPGAGSLQPLALEGSLQKRGIVEQCCTSICSLYQLE',
	               '#fv2',
	                {
	                    showAxis: true,
	                    showSequence: true,
	                    brushActive: true, //zoom
	                    toolbar:true, //current zoom & mouse position
	                    bubbleHelp:true, 
	                    zoomMax:50 //define the maximum range of the zoom
	                });

				pft.addFeature({
			    data: ddata,
			    name: "Frequency Distibution",
			    className: "test6", //can be used for styling
			    color: "#0F8292",})

            }           
			//Instead of a sequence, you can also initialize the feature viewer with a length (integer) :
			//var ft = new FeatureViewer(213,'#fv1');

			

		</script>

		<script>
			var dropdown = document.getElementsByClassName("dropdown-btn");
			var i;

			for (i = 0; i < dropdown.length; i++) {
			  dropdown[i].addEventListener("click", function() {
			    this.classList.toggle("active");
			    var dropdownContent = this.nextElementSibling;
			    if (dropdownContent.style.display === "block") {
			      dropdownContent.style.display = "none";
			    } else {
			      dropdownContent.style.display = "block";
			    }
			  });
			}

		</script>

</html>

