<html>
	<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/calipho-sib/feature-viewer/v1.0.0/dist/feature-viewer.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/index.css">
	<script src="https://cdn.rawgit.com/calipho-sib/feature-viewer/v1.0.0/dist/feature-viewer.bundle.js"></script>

	<body>
		<div class="splitl left">
		    <div class="sidenav">
		      <h2>News</h2>
		      <a href= "/index">
			      <button class = "about-btn">Back
			      </button>
			  </a>
		    </div>
		</div>

		<div class="splitr right">
			<div class = "news-container">

				<h1 class = "news-title">News</h1>
				<div class = "real-news">
					<div class = "card news">
					    <div class = "colorbar"></div>
						    <img src="http://www.cidrap.umn.edu/sites/default/files/public/styles/detail/public/media/article/ferret_0.jpg?itok=YzB01f2k">
						    <h3 class = "card-title">Study details pandemic potential of latest H7N9 flu strains</h3>
						    <h5>(Center for Infectious Disease Research and Policy)</h5>
						    <a href="http://www.cidrap.umn.edu/news-perspective/2017/10/study-details-pandemic-potential-latest-h7n9-flu-strains" class = "read-more">Read More</a>
					</div>
					<div class = "card news">
						<div class = "colorbar"></div>
						    <img src="https://www.statnews.com/wp-content/uploads/2019/06/GettyImages-95010096-1600x900.jpg">
						    <h3 class = "card-title">The last pandemic was a ‘quiet killer.’</h3>
						    <h5>(STAT News)</h5>
						    <a href="https://www.statnews.com/2019/06/11/h1n1-swine-flu-10-years-later/" class = "read-more">Read More</a>
					</div>
					<div class = "card news">
						<div class = "colorbar"></div>
						    <img src="https://cdn.cnn.com/cnnnext/dam/assets/150203170827-h1n1-virion-particle-outbreak-5-exlarge-169.png">
						    <h3 class = "card-title">H1N1 United States Fast Facts</h3>
						    <h5>(CNN)</h5>
						    <a href="https://www.cnn.com/2013/08/23/health/h1n1-u-s-fast-facts/index.html" class = "read-more">Read More</a>
					</div>
				</div>

				<h1 class = "news-title">Publications</h1>
				<div class="publications">
					<div class = "card news">
						<div class = "colorbar"></div>
							<h4>Journal of Infectious Diseases</h4>
						    <h2 class = "card-title">Risk of Severe Influenza among Adults with Chronic Medical Conditions</h2>
						    <h5>(Walker et. al)</h5>
						    <h5>04 November 2019</h5>
						    <a href="https://doi.org/10.1093/infdis/jiz570" class = "read-more">Read More</a>
					</div>
					<div class = "card news">
						<div class = "colorbar"></div>
							<h4>Journal of Bioengineering and Biomedical Science</h4>
						    <h2 class = "card-title">Cellulose Monolith with Tunable Functionality for Immobilization of Influenza Virus</h2>
						    <h5>(Pan et. al)</h5>
						    <h5>12 April 2018</h5>
						    <a href="https://www.omicsonline.org/open-access/cellulose-monolith-with-tunable-functionality-for-immobilization-of-influenza-virus-2155-9538-1000246-101283.html" class = "read-more">Read More</a>
					</div>
					<div class = "card news">
						<div class = "colorbar"></div>
							<h4>PLOS One Journal</h4>
						    <h2 class = "card-title">Seroepidemiological Evidence of Subtype H3N8 Influenza Virus Infection among Pet Dogs in China</h2>
						    <h5>(Zhou et. al)</h5>
						    <h5>14 July 2016</h5>
						    <a href="https://journals.plos.org/plosone/article?id=10.1371%2Fjournal.pone.0159106" class = "read-more">Read More</a>
					</div>
				</div>

				<h1 class = "news-title">Maps</h1>
				<div class="maps">
					<div class = "card news-map">
					    	<div class = "colorbar"></div>
					    <h3 class = "card-title">Mortality Rates (2009 H1N1 Epidemic)</h3>
					    <div class = "spacer"></div>
					    <img src="https://nacchopreparedness.org/wp-content/uploads/2013/12/la-flu-mortality-rates-map-20131126.jpg">
					</div>
					<div class = "card news-map">
					    	<div class = "colorbar"></div>
					    <h3 class = "card-title">Influenza in the United States 2018-2019</h3>
					    <img src="http://legacy.lib.utexas.edu/maps/historical/EMPRES_Watch_global_flyways.gif">
					</div>
				</div>

			</div>  	
		</div>
</html>

