.splitl {
  height: 100%;
  width: 15%;
  padding: 20;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 0px;
  color: white;
}

.splitr {
  height: 100%;
  width: 80%;
  padding: 10px;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 0px;
  border-radius: 20px 0px 0px 20px;
}


/* Control the left side */
.left {
  left: 0;
  background-color: gray;
}

/* Control the right side */
.right {
  right: 0;
  background-color: #f5f5ff;
}

/* Control the body */
body {
  background-color: #dadae6;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}

/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #030406;
  overflow-x: hidden;
  padding: 20px 20px 20px 30px;
}

body {
  background-color: #030406;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: #fcc203;
  color: black;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.graph {
  background-color: white;
  margin-top: 20px;
}

.whiteBG {
  margin: -10px;
  margin-top: -30px;
  padding: 20px;
  background-color: white;
}

.card {
  border-radius: 10px;
  background-color: white;
  padding: 0px 15px 15px 15px;
  overflow: scroll;
}

#news {
  float: left;
  width: 40%;
  margin-right: 10px;
  height: 53%;
}

.info {
  margin: 10px 10px 10px -10px;
  padding: 20px;
  overflow: hidden;
}

.colorbar {
  margin: 0px -20px 0px -20px;
  height: 6px;
  background-color: blue;
}

.card-title {
  margin-bottom: 20px
}

.read-more {
  position: relative;
  bottom: 0px;
  text-decoration: underline blue;
}

.similarity {
  margin-bottom: 10px;
  width: 51%;
}

.severity {
  width: 51%;
}














